---
import Section from "@/components/Section.astro";
import { work } from "cv.json";
---

<Section title="Work Experience">
    <ul class="flex flex-col gap-3">
        {
            work.map(
                ({
                    name,
                    startDate,
                    endDate,
                    position,
                    summary,
                    highlights,
                }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const endYear = endDate
                        ? new Date(endDate).getFullYear().toString()
                        : "Actualidad";
                    const years = `${startYear} - ${endYear}`;

                    return (
                        <li>
                            <article class="flex flex-col gap-1">
                                <header class="flex flex-row justify-between">
                                    <div>
                                        <h3 class="font-sans font-bold">
                                            {name}
                                        </h3>
                                        <p class="font-mono">{position}</p>
                                    </div>
                                    <time>
                                        <p class="font-sans text-gray-400">
                                            {years}
                                        </p>
                                    </time>
                                </header>
                                <footer class="flex flex-col gap-2">
                                    <p class="font-mono text-gray-400 ">
                                        {summary}
                                    </p>
                                    <ul class="list-disc text-gray-400 font-mono ml-4">
                                        {highlights.map((highlight) => (
                                            <li>{highlight}</li>
                                        ))}
                                    </ul>
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>
