---
import { basics } from "cv.json";

import Section from "@/components/Section.astro";

import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import Github from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import X from "@/icons/X.astro";
import Worldmap from "@/icons/Worldmap.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region, countryCode } = location;

const SOCIAL_ICONS: Record<string, any> = {
    Github,
    LinkedIn,
    X,
};
---

<Section>
    <div class="grid grid-flow-col justify-stretch">
        <div>
            <h1 class="text-2xl font-bold">{name}</h1>
            <p>{label}</p>
            <div class="flex gap-x-2">
                <Worldmap />
                <span>
                    {city}, {region}, {countryCode}
                </span>
            </div>
            <footer class="flex gap-1">
                {
                    email && (
                        <a
                            class=""
                            href={`mailto:${email}`}
                            title={`Send an email to ${name}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Mail />
                        </a>
                    )
                }
                {
                    phone && (
                        <a href={`tel:${phone}`} class="">
                            <Phone />
                        </a>
                    )
                }
                {
                    profiles.map(({ network, url, username }) => {
                        const Icon = SOCIAL_ICONS[network];
                        return (
                            <a
                                href={url}
                                class=""
                                title={`Visit ${network} profile of ${username}`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon />
                            </a>
                        );
                    })
                }
            </footer>
        </div>
        <figure class="flex justify-end">
            <img
                class="rounded-xl size-36"
                src={image}
                alt="Image Description"
            />
        </figure>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col"></div>
    </div>
</Section>
