---
import { basics } from "cv.json";

import Section from "@/components/Section.astro";

import Mail from "@/icons/Mail.astro";
import Github from "@/icons/Github.astro";
import Linkedin from "@/icons/Linkedin.astro";
import X from "@/icons/X.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region, countryCode } = location;

const SOCIAL_ICONS: Record<string, any> = {
    Github,
    Linkedin,
    X,
};

const linkedIn = profiles.find(({ network }) => network === "Linkedin");
const linkedUrl = linkedIn?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" | ");
---

<Section>
    <div class="flex flex-row justify-between">
        <div class="flex flex-col gap-2">
            <h1 class="text-3xl font-bold font-sans">{name}</h1>
            <h2 class="text-balance font-mono text-gray-400">
                <div>{label}</div>
                <span class="font-mono text-sm">
                    {city}, {region}, {countryCode}
                </span>
            </h2>

            <footer class="print">
                {printInfo}
            </footer>
            <footer class="no-print">
                {
                    email && (
                        <a
                            class=""
                            href={`mailto:${email}`}
                            title={`Send an email to ${name}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Mail />
                        </a>
                    )
                }

                {
                    profiles.map(({ network, url, username }) => {
                        const Icon = SOCIAL_ICONS[network];
                        return (
                            <a
                                href={url}
                                class=""
                                title={`Visit ${network} profile of ${username}`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon />
                            </a>
                        );
                    })
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} />
        </figure>
    </div>
</Section>

<style>
    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 180px;
        border-radius: 16px;
    }

    footer {
        font-size: 0.65rem;
        display: flex;
        gap: 4px;
        margin-top: 8px;
    }

    footer a {
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eeeeee5d;
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }

    footer a:hover {
        background: #eee;
        border: 1px solid #ddd;
    }

    @media (width <= 700px) {
        .container {
            flex-direction: column-reverse;
        }

        figure {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2 {
            text-wrap: balance;
        }

        figure {
            margin: 0 auto;
        }
    }

    @media print {
        .no-print {
            display: none;
        }
    }

    .print {
        display: none;
    }

    @media print {
        .print {
            display: block;
        }
    }
</style>
