---
import { basics } from "cv.json";

const { name, label, image, email, phone, url, summary, location } = basics;
const { city, region, countryCode } = location;
---

<section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
    <div class="flex items-center justify-between">
        <div class="flex-1 space-y-1.5">
            <h1 class="text-2xl font-bold">{name}</h1>
            <p class="max-w-md text-pretty text-sm text-muted-foreground">
                {label}
            </p>
            <p
                class="max-w-md items-center text-pretty text-xs text-muted-foreground"
            >
                <span class="inline-flex gap-x-1.5 align-baseline leading-none">
                    <svg
                        class="icon icon-tabler icon-tabler-map-pin w-3"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                        ></path><path
                            d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                        ></path></svg
                    >
                    {city}, {region}, {countryCode}
                </span>
            </p>
            <footer>
                {
                    email && (
                        <a
                            class="text-pretty text-xs text-muted-foreground"
                            href={`mailto:${email}`}
                            title={`Send an email to ${name}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            {email}
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            href={`tel:${phone}`}
                            class="text-pretty text-xs text-muted-foreground"
                        >
                            {phone}
                        </a>
                    )
                }
                {
                    url && (
                        <a
                            href={url}
                            class="text-pretty text-xs text-muted-foreground"
                        >
                            {url}
                        </a>
                    )
                }
            </footer>
        </div>

        <figure>
            <img
                class="size-28 relative flex shrink-0 overflow-hidden rounded-xl"
                src="https://avatars.githubusercontent.com/u/21257639?v=4"
                alt="Image Description"
            />
        </figure>
    </div>
</section>
